
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Layout dosyanızın yolunu belirtin
}

<div class="container d-flex justify-content-center align-items-center" style="height:75vh" ng-init="user.add();">
    <div class="" ng-repeat="d in user.detail">

        <h2 class="fw-lighter text-center mb-3">Lütfen giriş yap</h2>

        <form>
            <div class="form-group my-1">
                <input type="email"
                       class="form-control form-control-lg"
                       placeholder="Email" ng-model="d.email">
            </div>

            <div class="form-group mb-3">
                <input type="password"
                       class="form-control form-control-lg"
                       placeholder="Şifre" autocomplete="off" ng-model="d.password">
            </div>
            <div class="text-center mb-3">
                <a class="text-decoration-none" href="/#!/ForgotPassword">Şifremi Unuttum?</a>
            </div>
            <button type="button" class="w-100 btn btn-primary py-2 mb-3" ng-click="user.token();" ng-disabled="user.isLoading">
                <i ng-if="user.isLoading" class="fa-solid fa-spinner fa-spin-pulse"></i>Giriş Yap
            </button>
        </form>
    </div>
</div>




